$('#modal-window').modal('hide');
$('.row').append('<div class="span12 article"><h2><%= @article.title%></h2><p><%= @article.content%></p><p><a class="btn" href="<%= article_path(@article)%>">View details »</a></p></div>');
$('.row .span12:last').attr('style','background-color: lightgreen' );
$('body').scrollTo('.row .span12:last',800);
$('.row .span12:last').animate({ backgroundColor: "white" }, 3000);